<div class="container">
  <div class="row">
    <app-spinner [showSpinner]="!data"></app-spinner>
  </div>
  <div class="row" *ngIf="data">
    <div class="col-sm-8">
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by order #" />
    </div>
  </div>
  <hr *ngIf="data" />
  <div class="row" *ngFor="let order of data | orderFilter:searchText">
    <div class="col-sm-12">
      <app-order-details [order]="order"></app-order-details>
    </div>
  </div>
</div>